.col-lg-6{

}

.container-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  height: 99vh;
}

.card-front {
  position: absolute;
  top: 120px;
  z-index: 0;
  background-image: url("../../assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 245px;
  min-width: 280px;
  min-height: 150px;
 color: white;
  border: 1px solid green;
}

#card-number{
  letter-spacing: 3px;
  font-size: 26px;
  margin: 40px 0 20px 25px;
}

#number-sec{
  margin: 106px 60px 0 0;
  text-align: right;
  color: white;
}

.container-data{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

#name{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
}

#date{
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
}

.card-back {
  position: absolute;
  top: 400px;
  right: 40px;
  z-index: 1;
  background-image: url("../../assets/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 245px;
  min-width: 280px;
  min-height: 150px;
border: 1px solid blue;
}

.logo{
  margin: 25px;
}

@media screen and (max-width: 1024px) {
  .container-card{
    height: 73vh;
  }
  .card-front{
    top: 40px;
  }
  .card-back{
    top: 320px;
  }

}

@media screen and (max-width: 576px) {
  .card-front{
    width: 290px;
    height: 160px;
    top: 140px;
    z-index: 10;
  }
  .card-back{
    width: 290px;
    height: 160px;
    top: 40px;
    right: 40px;
  }
  #card-number{
    font-size: 16px;
    margin: 20px 0 12px 20px;
  }
  #number-sec{
    margin: 70px 40px 0 0;
  }
  .logo{
    width: 50px;
    margin: 20px;
  }
  #name, #date, #number-sec{
    font-size: 12px;
  }
  .container-card{
    height: 46vh;
  }
  .container-data{
    padding: 0 20px;
  }
}